<!-- Contact -->
<div class="col-md-12">
  <h1 class="py-4 text-center"> Kontakt </h1>
  <div class="offset-md-2 col-md-8">
  <h3>Get in Touch</h3>
  <hr class="bg-dark">
    <div class="offset-md-1 col-md-10 py-2">
      <form action="">
             <!-- Name -->
        <div class="row py-2">
            <div class="col-md-3">
              <label for="name">Name</label>
            </div>
            <div class="col-md-9">
              <input type="text" id="name" placeholder="Name" class="w-100">
            </div>
        </div>
            <!-- Email -->
        <div class="row py-2">
            <div class="col-md-3">
              <label for="email">Email</label>
            </div>
            <div class="col-md-9">
              <input type="email" id="email" placeholder="Email" class="w-100 mb2">
            </div>
        </div>    

            <!-- Message -->
        <div class="row py-2">
          <div class="col-md-3">
            <label for="message">Message</label>
          </div>
          <div class="col-md-9">
            <textarea name="name" placeholder="Your message" rows="8" cols="80" id="message" class="w-100"></textarea>
          </div>
        </div>
            <!-- Button -->
        <div class="row py-2">
          <button type="submit" class="btn w-25 mx-auto">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
